.header{
  background-image: url('https://images.unsplash.com/photo-1611892440504-42a792e24d32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWwlMjByb29tfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
  color: #fff;
}
.header nav {
  text-align: center;
  padding-top:30px;
  color:white;
}
.header nav a {
  color:white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
}
.header nav a:hover {
  color: darkGreen;
}
.bookBtn{
  text-decoration: none;
}
.notFound{
  color: red;
  text-align: center;
}
.login{
  text-align: center;
}